#mobile {
	width: 100vw;
	-webkit-overflow-scrolling: touch;
	padding: 0; margin: 0;
	background: $mobile_bg;
	color: $mobile_fg;
	font: {
		family: $inconsolata;
		size: 13pt;
		weight: 200;
	}

	a {
		color: $mobile_fg;
		text-decoration: none;
		&:active { color: $red; }
		&:visited { color: $mobile_fg; }
	}

	.main {
		display: block; position: fixed;
		width: 100vw; height: 100vh;
		z-index: 0;

		transition: -webkit-filter .3s ease; //doesn't really work in 'most' browsers.
		.more {
			position: fixed;
			display: block;
			text-align: center;
			box-sizing: border-box;
			width: 100%;
			padding-left: 50%;
			bottom: 0;
			right: 0;
			$more-h: 80px;
			height: $more-h;
			font-size: 10pt;
			line-height: $more-h;

			color: $blue;
			text-decoration: underline;
		}
	}

	.info-wrap {
		ul {
			box-sizing: border-box;
			padding: 45px 30px;
			li {
				font-size: 15pt;
				margin: 4px 0;
				letter-spacing: 1px;
				sup {
					font-size: 8pt;
					vertical-align: super;
					letter-spacing: 0;
					a {color: $blue;}
				}
			}
		}
	}

	.blurred {
		@include filter(blur(8px));
	}

	.links {
		display: block; position: absolute;
		width: 100vw; min-height: 100%;
		padding: 0;
		background: rgba($mobile_bg, 0.7);
		left: 100vw; top: 0;
		letter-spacing: 1px;

		@include anim-medium(left);
		
		&.open { left: 0; }

		i.x-icon {
			display: block;
			background: url("/img/slashes.svg") 20px center no-repeat;
			background-size: 30px;
			width: 75px;
			height: 75px;
			border: 0px solid #444;
			border-radius: 100%;
			margin: 45px auto 0;
		}

		p {
			margin: 45px 0 0;
			line-height: 1.25rem;
			text-align: center;
			font-size: 15px;
		}

		ul {
			margin: 60px 0;
			text-align: center;
			li {
				display: inline;
				margin: 2px;
				font-size: 13px;
				a {
					color: $blue;
					text-decoration: underline;
				}
			}
		}

		.back-btn {
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			$b-sz: 40px;
			width: $b-sz; height: $b-sz;
			line-height: $b-sz;
			text-align: center;
			font-size: 12pt;
			border-radius: 100%;
		}
	}
}