.back-btn#go-back
	i.fa.fa-angle-left
section.projects
	.table-wrap

		.project-table
			.project-row

				#FreeRaphaelCohen.project-square
					.title FreeRaphael
					.infos
						.data
							span.title FreeRaphaelCohen.com
							a.project-link(href='http://freeraphaelcohen.com/') [link]
							ul
								li.year 2013-
								li.type Artist's Website
						p.description
							| My brother is an artist in New York City; we collaborated to create this personal artists' website, which shows off some slideshows of his practice.
						.project-images
							img(src='/img/projects/freeraphael-ss-1.png', alt='Free Raphael screenshot 1')
							img(src='/img/projects/freeraphael-ss-2.png', alt='Free Raphael screenshot 2')
							img(src='/img/projects/freeraphael-ss-3.png', alt='Free Raphael screenshot 3')


				#Sunbeam.project-square
					.title Sunbeam
					.infos
						.data
							span.title Sunbeam Gallery*
							a.project-link(href='http://juicys.gallery/') [link]
							ul
								li.year 2014-
								li.type Gallery Website
						p.description
							| I created this simple website for Sunbeam, a new NYC Gallery that has already been featured in Vice, Complex, and Sex Magazine. 
						p.description
							| *Formerly known as Juicys Gallery.
						.project-images
							img(src='/img/projects/juicys-ss-1.png')
							img(src='/img/projects/juicys-ss-2.png')



				#Rhizome.project-square
					.title Rhizome
					.infos
						.data
							span.title Rhizome.org
							a.project-link(href='http://rhizomedotorg.tumblr.com/') [link]
							ul
								li.year 2013
								li.type Blog Theme
						p.description
								| In the summer of 2013 I interned for 
								a(href='http://rhizome.org/') Rhizome.org
								| , where one of my duties was to create a custom tumblr theme to match the branding of their website. The result is still proudly displayed on their tumblr page.
						.project-images
							img(src='/img/projects/rhizome-ss-1.png' alt='Rhizome screenshot 1')

								
				#KimSelfies.project-square
					.title Kim K
					.infos
						.data
							span.title Kimselfi.es
							a.project-link(href="http://kimselfi.es/") [link]
							ul
								li.year 2013 - 2014
								li.type Web app
						p.description
							| Kim Selfies is a continually-evolving art project I first created for a graphic design class in 2013. At the time I wanted to explore the cultural phenomenon of selfies by using Kim Kardashian as a symbol/icon/figurehead of the selfie-taking movement on social media. Thus I re-created the iCloud interface to give an appearence of logging into Kim's personal iCloud, where one could observe her massive photostream as consisting only of selfies. I chose the iCloud interface because I wanted to question the dichotomy of private and public life as well as the aspects of voyeurism involved in, for example, being an avid follower of Kim's (or any star's) feed. I curated the selfies (and only selfies) to highlight the narcissistic aspects of her presence.
						p.description
							| In the second stage of this project, I created a lightweight web app that activates the user's webcam and provides an overlay of a Kim Kardashian selfie, asking the user to re-create the photo with their own body. The app subsequently generates a score for the selfie based on its likeness to the original kim selfie. It's a rather chilling experience- see how alike to Kim you can get! 
						.project-images
							img(src='/img/projects/kim-ss-1.png' alt='Kim Selfies screenshot')

			.project-row


				#ZebraCode.project-square
					.title Zebracode
					.infos
						.data
							span.title Zebracode
							a.project-link(href="https://github.com/Kappibw/zebracode") [link]
							ul
								li.year 2014
								li.type Software
						p.description
							| ZebraCode is a cross-platform application I developed in a 4-person team in the spring of 2014. The software is designed to help users learn to code through self-guided tutorials (think Codecademy). Project elements include a seamless UI, a virtual machine for sandboxing, a custom backend file system, and a sister program for authoring new tutorials.
						p.description
							| Zebracode was designed and developed for African libraries without internet access, and is set for deployment in Botswana in 2015.
						.project-images
							img(src='/img/projects/zebracode-ss-1.png', alt='Zebracode screenshot 1')
							img(src='/img/projects/zebracode-ss-2.png', alt='Zebracode screenshot 2')
							img(src='/img/projects/zebracode-ss-3.png', alt='Zebracode screenshot 3')


				#MAPS.project-square
					.title MAPS
					.infos
						.data
							span.title RI Traffic/Maps
							a.project-link(href='https://github.com/skortchmark9/riMap/') [link]
							ul
								li.year 2014
								li.type Software
						p.description
							| RI Traffic is a piece of software based on the functionality of Google Maps. Written by  me and my friend 
							a(href='http://skortchmark.com/') Sam Kortchmar
							| , it uses geographically accurate map data to provide turn-by-turn directions in the state of Rhode Island. The app also displays real-time traffic data received from a remote server, factoring it into the ETA predictions.
						.project-images
							img(src='/img/projects/traffic-ss-1.png')
		

				#IFF.project-square
					.title IFF
					.infos
						.data
							span.title Ivy Film Festival
							a.project-link(href='http://ivyfilmfestival.com') [link]
							ul
								li.year 2013-
								li.type Website
						p.description
							| The Ivy Film Festival (IFF), the largest student-run film festival in the world, takes place each April at Brown University. After taking over as IFF Webmaster in 2013, I decided that the website was in need of a serious facelift. The endeavor quickly became a comprehensive website overhaul, in which I switched the CMS to Wordpress, redesigned the interface, and completely reorganized the site. I was assisted by 
							a(href='http://www.ingridchen.com/') Ingrid Chen
							|  with the graphic design.
						p.description
							| I continue to work with all festival departments in adding features and content to the website, performing server upkeep and design adjustments.
						.project-images
							img(src='/img/projects/iff-ss-1.png', alt='IFF screenshot 1')
							img(src='/img/projects/iff-ss-2.png', alt='IFF screenshot 2')
				
				#SCAC.project-square
					.title SCAC
					.infos
						.data
							span.title STUDENTCREATIVEARTS.ORG
							a.project-link(href='http://studentcreativearts.org/') [link]
							ul
								li.year 2015-
								li.type Website
						p.description
							| I am currently developing a website for Brown University's Student Creative Arts Council. Written from the ground-up with node, the site is scheduled for public deployment later this spring.
						.project-images
							img(src='/img/projects/SCAC-ss-1.png')

			.project-row


				#Madbits.project-square
					.title Madbits
					.infos
						.data
							span.title Madbits L.L.C.
							a.project-link(href='http://madbits.com/') [link]
							ul
								li.year 2013-2014
								li.type Front-End Engineer / Designer
						p.description
							| Madbits was a startup I worked for founded by 
							a(href='http://laeh.github.io/') Louis-Alexandre Etezad-Heydari
							| and
							a(href='') 
							| . Over the two summers I spent there, I functioned as a graphic designer and front-end engineer. The focus of the company was developing a highly advanced, scalable deep-learning AI for image processing. Fellow engineer 
							a(href='https://www.linkedin.com/in/samuelngahane') Sam Ngahane
							| and I designed and developed a sophisticated in-house photo-management web app called xManager for this purpose. The xManager project was built on a colorful development stack that included multiple frameworks such as bootstrap, underscore, and backbone to name a few. The screenshot below shows the original company website I designed, before it was acquired by Twitter in 2014.
						.project-images
							img(src='/img/projects/madbits-ss-1.png')


				#Silencio.project-square
					.title Silencio
					.infos
						.data
							span.title Silencio
							a.project-link(href="/projects/silencio/") [link]
							ul
								li.year 2013
								li.type "Single-serve" website
						p.description
							| Silencio is an art project I created as a critique of Bravo's <i>Real Housewives</i> series. Originally intended to be a hypertext, the interactivity and form of the project goes a great deal beyond any 'traditional' style of hypertext. 
						p.description 
							| The project presents a set of <i>Real Housewives</i> episodes found on YouTube mixed in with some other found footage. The images are captioned with <i>Real Housewives</i> dialogue, but the captions do not match the videos. Thus there is an intentional (dis)connection between the sound and image, in which arises new semantic and visual relationships typical of a hypertext.
						.project-images
							img(src='/img/projects/silencio-ss-1.png', alt='Silencio 1')
							img(src='/img/projects/silencio-ss-2.png', alt='Silencio 2')
							img(src='/img/projects/silencio-ss-3.png', alt='Silencio 3')

				#Virtual-Slotz.project-square
					.title Slotz
					.infos
						.data
							span.title Virtual Slotz
							a.project-link(href="/projects/slotz/") [link]
							ul
								li.year 2013
								li.type "Single-serve" website
						p.description
							| For another graphic design project, I created this virtual slot machine. Each round is free, but the jackpot might cost you some memory. Although this inverts the reward factor of each play, it's still pretty addicting!
						.project-images
							img(src='/img/projects/slotz-ss-1.png', alt='Virtual Slots 1')


				#Cray-Draw.project-square
					.title Draw
					.infos
						.data
							span.title Cray Draw
							a.project-link(href='/projects/draw/') [link]
							ul
								li.year 2012
								li.type "Single-serve" website
						p.description
							| Processing was my first language, and this project was one of my first experiments. It's a little drawing app with minimal functionality. 
						.project-images
							img(src='/img/projects/draw-ss-1.png', alt='CrayDraw')

			.project-row

				#Christina.project-square
					.title Christina Mazzalupo
					.infos
						.data
							span.title Christina's Poll
							a.project-link(href='http://mixedgreens.com/exhibitions/past/Christina-Mazzalupo-128.html') [link]
							ul
								li.year 2012
								li.type Artware
						p.description
							| In the summer of 2012 I interned at Mixed Greens Gallery New York City. While there, I worked with artist 
							a(href='http://www.christinamazzalupo.com/') Christina Mazzalupo
							|  to create an 'apocalyptic poll' for her solo show entitled "PROGNOSIS: DOOM." 
						p.description 
							| The code was written with Processing and exported to a bundled application for OS X.
						.project-images
							img(src='/img/projects/christina-ss-1.png', alt="Christina's Poll screenshot 1")
							img(src='/img/projects/christina-ss-2.png', alt="Christina's Poll screenshot 2")



				#Chatroom.project-square
					.title Chatroom
					.infos
						.data
							span.title Chatroom
							a.project-link(href='https://github.com/eliath/chatroom/') [link]
							ul
								li.year 2014
								li.type Web app
						p.description
							| I wrote a simple chatroom application that runs on node.js and socket.io. It has some cool features like user sessions, statuses, automatic link and image formatting. It's not currently live anywhere, but feel free to inspect or fork it on my Github page!
						.project-images
							img.pic(src='/img/projects/chat-ss-1.png', alt='Chatroom 1')


				#KATEMOSS.project-square
					.title KATE MOSS
					.infos
						.data
							span.title FUCKYEAHKATEMOSS.COM
							a.project-link(href='http://fuckyeahkatemoss.com/') [link]
							ul
								li.year 2012-
								li.type Fansite
						p.description
							| Forever a fan.
						p.description
							| I run this site along with my friend 
							a(href='http://atil.io/') Atilio.
						.project-images
							img(src='/img/projects/kate-ss-1.png' alt='Kate Moss 1')


				#Qmusic.project-square
					.title Q
					.infos
						.data
							span.title Q Music Controller
							a.project-link(href='https://github.com/eliath/Q-music-controller') [link]
							ul
								li.year 2013
								li.type Software
						p.description
							| A project for my UI/UX class, Q was designed with another approach to music-listening in mind. My two teammates and I conceived of an experience in which your 'music queue' is integrated into the OS. Features included: <br/>
							| • universal search across iTunes, Youtube, Spotify, etc. <br/>
							| • multiple-source queue <br/>
							| • multi-dimensional tagging system.<br/>
						p.description
							| The concept designs are displayed below; an additional skeleton app was developed in Xcode for the purpose of showcasing the UX.
						.project-images
							img(src='/img/projects/Q-ss-1.png' alt='Q Music Controller 1')
							img(src='/img/projects/Q-ss-2.png' alt='Q Music Controller 2')
							img(src='/img/projects/Q-ss-3.png' alt='Q Music Controller 3')
							img(src='/img/projects/Q-ss-4.png' alt='Q Music Controller 4')




	.project-drawer