doctype html
html
    head
        meta(charset='utf-8')
        meta(name='description' content='Elias Martinez Cohen | UI/UX, Software Engineering, & Graphic Design :)')
        meta(name='viewport' content='minimal-ui, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, width=device-width')
        link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet')
        link(rel='stylesheet' href='/css/screen.css')
        link(rel='icon' type='image/png' href='/img/favicon.png')

        script(src='/libs/jquery.min.js')
        //- script(src='/js/_site.min.js')
        //- script(src='/js/_desktop.min.js')
        //- script(src='/js/_mobile.min.js')
        script(src='/js/_site.js')
        script(src='/js/_desktop.js')
        script(src='/js/_mobile.js')

        title Elías Martínez Cohen
    body
        .band.L
        .band.R
        .main-container
        footer
        script.
            _site.init();