#wrap
    section.main
        .info-wrap
            ul
                li Elías Martínez Cohen
                li.contact
                li twitter cortex
                    sup
                        a(href='http://www.wired.com/2015/07/twitters-new-ai-recognizes-porn-dont/') [1]
                        a(href='http://www.businessinsider.com/twitter-is-hiring-ai-experts-for-cortex-group-2015-7') [2]
                        a(href='http://motherboard.vice.com/read/twitter-is-using-machine-learning-to-improve-its-machine-learning') [3]
        a#more.more ENLACE
    section.links
        a.back-btn
            i.fa.fa-angle-double-left
        i.x-icon
        p (NYC)
        ul
            li 
                a(href='https://twitter.com/eliath_') TWITTER
            li 
                a(href='https://www.facebook.com/eliath') FB
            li 
                a(href='https://github.com/eliath') GITHUB
            li 
                a(href='https://www.linkedin.com/pub/el%C3%ADas-mart%C3%ADnez-cohen/94/8/828') LINKEDIN
            li
                a(href='http://open.spotify.com/user/127205523') SPOTIFY
