#wrap
    section.main
        .personal-icon
        .social
            a.fa.fa-twitter(title="@eliath_" href="http://twitter.com/eliath_/")
            a.fa.fa-facebook(title="eliath" href="http://facebook.com/eliath/")
            a.fa.fa-instagram(title="@eliath.biz" href="https://instagram.com/eliath.biz/")
            a.fa.fa-linkedin(title="Elías Martínez Cohen" href="")
        p.contact
        a#more.more MORE INFO
            span.fa.fa-angle-double-right
    section.info
        a.back-btn
            i.fa.fa-close
        .p-wrap
            p
                | Eli is a programmer/designer currently studying CS at Brown University, where
                | he will graduate in May 2015. His specialties include software engineering, 
                | UI/UX design, graphic design, algorithmic solutions and data visualization.
            p
                | Most recently, Eli has been working alongside engineers at Twitter to 
                | develop an open-source dashboard for visualizing machine learning statistics.
                | Outside of CS work, his passions lie in fine arts, film, and music.
                | If you would like to know more, feel free to get in touch, or view the 
                | <a href="/?desktop=force">desktop site</a> to see information about his projects
                | and view his résumé.