#wrap
    section.main
        .personal-icon
        .social
            a.fa.fa-twitter(title="@eliath_" href="http://twitter.com/eliath_/")
            a.fa.fa-github(title="@eliath" href="https://github.com/eliath")
            a.fa.fa-linkedin(title="Elías Martínez Cohen" href="")
        p.contact
        a#more.more INFO
            span.fa.fa-angle-double-right
    section.info
        a.back-btn
            i.fa.fa-angle-double-left
        .p-wrap
            p Elías Martínez Cohen
                br 
                | b. 1993 Stone Ridge, NY
                br 
                | Lives &amp; works in New York City
            p
                | Twitter Cortex. 
                a(href='http://www.wired.com/2015/07/twitters-new-ai-recognizes-porn-dont/') [WIRED]
                | 
                a(href='http://www.businessinsider.com/twitter-is-hiring-ai-experts-for-cortex-group-2015-7') [BUSINESSINSIDER]