.back-btn#go-back
	i.fa.fa-angle-left
section.projects
	.table-wrap

		.project-table
			.project-row

				#SCAC.project-square
					.title SCAC
					.infos
						.data
							span.title STUDENTCREATIVEARTS.ORG
							a.project-link(href='http://studentcreativearts.org/') [link]
							ul
								li.year 2015-
								li.type Website
						p.description
							| I am currently developing a website for Brown University's 
							| Student Creative Arts Council. Written from the ground-up with 
							| node, the site is scheduled for public deployment later this 
							| spring.
						.project-images
							img(src='/img/projects/SCAC-ss-1.png')


				#IFF.project-square
					.title IFF
					.infos
						.data
							span.title Ivy Film Festival
							a.project-link(href='http://ivyfilmfestival.com') [link]
							ul
								li.year 2013-
								li.type Website
						p.description
							| The Ivy Film Festival (IFF), the largest student-run film 
							| festival in the world, takes place each April at Brown 
							| University. After taking over as IFF Webmaster in 2013, I decided 
							| that the website was in need of a serious facelift. The endeavor 
							| quickly became a comprehensive website overhaul, in which I 
							| switched the CMS to Wordpress, redesigned the interface, and 
							| completely reorganized the site. I was assisted by 
							a(href='http://www.ingridchen.com/') Ingrid Chen
							|  with the graphic design.
						p.description
							| I continue to work with all festival departments in adding 
							| features and content to the website, performing server upkeep and 
							| design adjustments.
						.project-images
							img(src='/img/projects/iff-ss-1.png', alt='IFF screenshot 1')
							img(src='/img/projects/iff-ss-2.png', alt='IFF screenshot 2')

				
				#ZebraCode.project-square
					.title Zebracode
					.infos
						.data
							span.title Zebracode
							a.project-link(href="https://github.com/Kappibw/zebracode") [link]
							ul
								li.year 2014
								li.type Software
						p.description
							| ZebraCode is a cross-platform application I developed in a 4-
							| person in the spring of 2014. The software is designed to help 
							| users learn to code through self-guided tutorials (think 
							| Codecademy). Project elements include a seamless UI, a virtual 
							| machine for sandboxing, a custom backend file system, and a sister 
							| program for authoring new tutorials.
						p.description
							| Zebracode was designed and developed for African libraries 
							| without internet access, and is set for deployment in Botswana in 
							| 2015.
						.project-images
							img(src='/img/projects/zebracode-ss-1.png', alt='Zebracode screenshot 1')
							img(src='/img/projects/zebracode-ss-2.png', alt='Zebracode screenshot 2')
							img(src='/img/projects/zebracode-ss-3.png', alt='Zebracode screenshot 3')
				
				#MAPS.project-square
					.title MAPS
					.infos
						.data
							span.title RI Traffic/Maps
							a.project-link(href='https://github.com/skortchmark9/riMap/') [link]
							ul
								li.year 2014
								li.type Software
						p.description
							| RI Traffic is a piece of software based on the functionality of 
							| Google Maps. Written by me and my friend Sam Kortchmar, it uses 
							| geographically accurate map data to provide turn-by-turn 
							| directions in the state of Rhode Island. The app also displays 
							| real-time traffic data received from a remote server, factoring 
							| it into the ETA predictions.
						.project-images
							img(src='/img/projects/traffic-ss-1.png')

			
			.project-row


				#Madbits.project-square
					.title Madbits
					.infos
						.data
							span.title Madbits L.L.C.
							a.project-link(href='http://madbits.com/') [link]
							ul
								li.year 2013-2014
								li.type Front-End Engineer / Designer
						p.description
							| Madbits was a startup I worked for over the summers of 2013 and 
							| 2014 whose focus was developing a highly advanced, scalable deep-
							| learning AI for image processing. While there I oversaw all 
							| graphic design and branding of the company, as well as designing 
							| and implementing an in-house photo-management web app called 
							| xManager. For that project I worked with a colorful development 
							| stack that included frameworks like bootstrap, underscore, and 
							| backbone. The screenshot below shows the original frontpage from 
							| the company's website before it was acquired by Twitter in 2014.
						.project-images
							img(src='/img/projects/madbits-ss-1.png')


				#FreeRaphaelCohen.project-square
					.title FreeRaphael
					.infos
						.data
							span.title FreeRaphaelCohen.com
							a.project-link(href='http://freeraphaelcohen.com/') [link]
							ul
								li.year 2013-
								li.type Artist's Website
						p.description
							| My brother is an artist in New York City; we collaborated to 
							| create this personal artists' website, which shows off some 
							| slideshows of his practice.
						.project-images
							img(src='/img/projects/freeraphael-ss-1.png', alt='Free Raphael screenshot 1')
							img(src='/img/projects/freeraphael-ss-2.png', alt='Free Raphael screenshot 2')
							img(src='/img/projects/freeraphael-ss-3.png', alt='Free Raphael screenshot 3')


				#Sunbeam.project-square
					.title Sunbeam
					.infos
						.data
							span.title Sunbeam Gallery
							a.project-link(href='http://juicys.gallery/') [link]
							ul
								li.year 2014-
								li.type Gallery Website
						p.description
							| I created this simple website for Sunbeam, a new NYC Gallery that 
							| has already been featured in Vice, Complex, and Sex Magazine. 
						p.description
							| Formerly known as Juicys Gallery.
						.project-images
							img(src='/img/projects/juicys-ss-1.png')
							img(src='/img/projects/juicys-ss-2.png')


				#Rhizome.project-square
					.title Rhizome
					.infos
						.data
							span.title Rhizome.org
							a.project-link(href='http://rhizomedotorg.tumblr.com/') [link]
							ul
								li.year 2013
								li.type Blog Theme
						p.description
								| In the summer of 2013 I interned for
								a(href='http://rhizome.org/') Rhizome.org
								| , where one of my duties was to create a custom tumblr theme
								| to match the branding of their website. The result is still 
								| on their very active tumblr page.
						.project-images
							img(src='/img/projects/rhizome-ss-1.png' alt='Rhizome screenshot 1')
								
			.project-row


				#KimSelfies.project-square
					.title Kim K
					.infos
						.data
							span.title Kimselfi.es
							a.project-link(href="http://kimselfi.es/") [link]
							ul
								li.year 2013 - 2014
								li.type Website
						p.description
							| Kim Selfies is a continually-evolving art project I created for my graphic design class in 2013. At first, I wanted to explore the cultural phenomenon of selfies by using Kim Kardashian as a figurehead in the movement. I re-created the iCloud interface to make it seem like the user was logged in to Kim's iCloud, where they could see her photostream of selfies. I wanted to question the dichotomy of private and public life as well as the aspects of voyeurism involved, for example, in following Kim on instagram and twitter.
						p.description
							| In the second stage of this project, I created a lightweight webapp that asks the user to re-create one of Kim's selfies for themselves (using their webcam) and subsequently scores them on their likeness. It's a rather chilling experience- see how alike to Kim you can get! 
						.project-images
							img(src='/img/projects/kim-ss-1.png' alt='Kim Selfies screenshot')

				#Silencio.project-square
					.title Silencio
					.infos
						.data
							span.title Silencio
							a.project-link(href="/projects/silencio/") [link]
							ul
								li.year 2013
								li.type "Single-serve" website
						p.description
							| Silencio is an art project I created as a critique of the Real Housewives series. It was originally intended to be a hypertext, but the interactivity and form of the project kind of goes beyond any sort of hypertext. It includes a set of found Real Housewives episodes mixed in with some other clips which are overlayed with closed-captions from other Real Housewives episodes. The captions purposefully don't match up. I mean, they're all the same anyway, right?
						.project-images
							img(src='/img/projects/silencio-ss-1.png', alt='Silencio 1')
							img(src='/img/projects/silencio-ss-2.png', alt='Silencio 2')
							img(src='/img/projects/silencio-ss-3.png', alt='Silencio 3')

				#Virtual-Slotz.project-square
					.title Slotz
					.infos
						.data
							span.title Virtual Slotz
							a.project-link(href="/projects/slotz/") [link]
							ul
								li.year 2013
								li.type "Single-serve" website
						p.description
							| I built a fun little virtual slot machine. Don't worry, it's completely free! Turn your computer's sound on, keep pulling the lever and try to win the JACKPOT!
						.project-images
							img(src='/img/projects/slotz-ss-1.png', alt='Virtual Slots 1')


				#Cray-Draw.project-square
					.title Draw
					.infos
						.data
							span.title Cray Draw
							a.project-link(href='/projects/draw/') [link]
							ul
								li.year 2012
								li.type "Single-serve" website
						p.description
							| I used to be really into making Processing sketches. Most of them don't even work with the new version of Processing! Here's one that still works because I ported it to the web. It used to be the homepage of my website, before I created this one. Go draw like cray!
						.project-images
							img(src='/img/projects/draw-ss-1.png', alt='CrayDraw')

			.project-row

				#Christina.project-square
					.title Christina Mazzalupo
					.infos
						.data
							span.title Christina's Poll
							a.project-link(href='http://mixedgreens.com/exhibitions/past/Christina-Mazzalupo-128.html') [link]
							ul
								li.year 2012
								li.type Artware
						p.description
							| While I was interning at Mixed Greens Gallery in Chelsea, NYC, I  worked with artist 
							a(href='http://www.christinamazzalupo.com/') Christina Mazzalupo
							|  to create an apocalyptic poll for her 2012 solo show entitled "PROGNOSIS: DOOM." The code was written with processing and exported to a bundled application for Mac OS X.
						.project-images
							img(src='/img/projects/christina-ss-1.png', alt="Christina's Poll screenshot 1")
							img(src='/img/projects/christina-ss-2.png', alt="Christina's Poll screenshot 2")



				#Chatroom.project-square
					.title Chatroom
					.infos
						.data
							span.title Chatroom
							a.project-link(href='https://github.com/eliath/chatroom/') [link]
							ul
								li.year 2014
								li.type Web app
						p.description
							| I wrote a simple chatroom application that runs on node.js. I have not yet decided what I'm going to do with it, so it's not currently live, but you can check it out my Github page!
						.project-images
							//- img.pic(src='/img/projects/chatroom.png', alt='Chatroom')


				#KATEMOSS.project-square
					.title KATE MOSS
					.infos
						.data
							span.title FUCKYEAHKATEMOSS.COM
							a.project-link(href='http://fuckyeahkatemoss.com/') [link]
							ul
								li.year 2012-
								li.type Fansite
						p.description
							| Forever a fan.
							br
							| Run by myself and my friend 
							a(href='http://atil.io/') Atilio.
						.project-images
							img(src='/img/projects/kate-ss-1.png' alt='Kate Moss 1')


				#Qmusic.project-square
					.title Q
					.infos
						.data
							span.title Q Music Controller
							//- a.project-link(href='')
							ul
								li.year 2013
								li.type Software
						p.description
							| Another approach to playing music on OS X. Feature base includes universal search, integrated queue structure, and multi-dimensional tagging system. Concept designs shown below; an additional skeleton app was developed in Xcode for the purpose of showcasing the UX.
						.project-images
							img(src='/img/projects/Q-ss-1.png' alt='Q Music Controller 1')
							img(src='/img/projects/Q-ss-2.png' alt='Q Music Controller 2')
							img(src='/img/projects/Q-ss-3.png' alt='Q Music Controller 3')
							img(src='/img/projects/Q-ss-4.png' alt='Q Music Controller 4')




	.project-drawer