.back-btn#go-back
	i.fa.fa-angle-left
section.page
	.Top.area
		.left
			h1.name Elías Martínez Cohen
			ul.subname
				li.contact
		.right
			a.download(href="/resume/EMC-resume.pdf") [FULL PDF VERSION]
	
	.invisi-sep
	
	.Edu.area
		h2 Education
		.left
			h3 Brown University
			p
				| B.A. Computer Science
				br
				| Class of 2015
		.right
			h4 Relevant Coursework
			p
				| Intro. Software Engineering, Creating Modern Web Apps, Design/Analysis of 
				| Algorithms, Design &amp; Development of UI/UX, Intro. Data Science, Intro. 
				| Computer Systems, Linear Algebra, Discrete Structures &amp; Probability, 
				| Graphic Design for the Web, Intro. Graphic Design.
	
	.invisi-sep
	
	.Experience.area
		h2 Experience
		.left
			h3.job Madbits LLC
			ul.jobinfo
				li New York, NY
				li May 2013 &ndash; Aug 2014
				li Front-End Engineer / Graphic Designer
		.right
			p.description
				| Oversaw all graphic design &amp; branding. Designed &amp; implemented overhaul of 
				| web interface for in-house photo management app. Worked with a colorful JS 
				| stack and multiple AJAX APIs. Returned for a second summer to help produce 
				| a sophisticated A.I. for image processing based on deep learning. Startup 
				| acquired by Twitter in July 2014.
		
		.invisi-sep
		
		.left
			h3.job Rhizome
			ul.jobinfo
				li New York, NY 
				li May 2013 &ndash; Aug 2013
				li Web Developer (Intern)
		.right
			p.description
				| Assisted in annual website revamp. Maintained homepage of site and 
				| performed quality assurance of site content. Archived and preserved 
				| various digital artworks in the collection. Designed, developed &amp; 
				| implemented custom blog theme.

		.invisi-sep

		.left.CIS
			h3.job Computing &amp; Info. Services (CIS)
			ul.jobinfo
				li Brown University 
				li Sept 2012 &ndash; Present
				li Lead Consultant
		.right.CIS
			p.description
				| Aided students with the use of various computing systems and software. 
				| Performed troubleshooting and maintenance on university computers. Managed 
				| peer consultants and helped coordinate scheduling. Promoted to lead in the 
				| Fall of 2014.

	.invisi-sep

	.Skills.area
		h2 Skills
		.left
			h3.category Languages
		.right
			p
				| HTML5/CSS3, JavaScript, Java, python, C, R, Matlab, PHP, Lua, Español

		.invisi-sep
		
		.left
			h3.category Tools
		.right
			p
				| Git, jQuery, Grunt, SCSS/Compass, Jade, Backbone, Underscore, Keystone,
				| d3, XML, Angular, React, Apache Ant
		
		.invisi-sep

		.left
			h3.category Design
		.right
			p
				| Sketch, Photoshop, Illustrator, InDesign
		
		.invisi-sep

		.left
			h3.category Platforms
		.right
			p
				| OS X, Linux, SQL, AWS, node.js, Drupal, Wordpress
		
		.invisi-sep

		.left
			h3.category Interests
		.right
			p
				| Music, fine art, cinema, fútbol + basketball
