/* ==========================================================================
   Colors
   ========================================================================== */

$black	:	#242424;
$white	:	#EFEFEF;
$red	:	#ff0100;
$blue   :   #2600db;


$midnight:	#2A2E39;
$glowinthedark	:	#ecf0e6;
$yellow         : #f3ec87;
$link           : #A6BAC7;
$mobile_fg		: #232830;
$mobile_bg		: #F9F9F9;

@mixin bg-gradient($from, $to) {
  background-color: $from; 															/* fallback/image non-cover color */
  background-image: -moz-linear-gradient($from, $to); 								/* Firefox 3.6+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to)); /* Safari 4+, Chrome 1+ */
  background-image: -webkit-linear-gradient($from, $to); 							/* Safari 5.1+, Chrome 10+ */
  background-image: -o-linear-gradient($from, $to); 								/* Opera 11.10+ */
}
