#mobile {
	width: 100vw;
	-webkit-overflow-scrolling: touch;
	padding: 0; margin: 0;
	background: $mobile_bg;
	color: $mobile_fg;
	font: {
		family: $franklin;
	}

	a {
		text-decoration: none;
		color: $mobile_fg;
	}

	.main {
		display: block; position: fixed;
		width: 100vw; height: 100vh;
		z-index: 0;

		transition: -webkit-filter .3s ease; //doesn't really work in 'most' browsers.
	}

	.personal-icon {
		width: 20vw;
		height: 20vw;
		margin: 38.2% auto 0;
		border-radius: 100%;
		border: 1px solid rgba($mobile_fg,0.382);
		background-image: url($personal-icon);
		background-size: contain;
	}

	.social {
		display: block;
		position: absolute;
		width: 100%;
		@include calc(top, '38.2% + 30px');
		height: 25px;
		text-align: center;
		font-size: 10vw;

		a {
			display: inline-block;
			margin: 0 20px;
		}
	}

	.contact {
		display: block;
		width: 100%;
		position: absolute;
		@include calc(top, '38.2% + 110px');
		// text-transform: uppercase;
		text-align: center;
		font-weight: 800;
		font-size: 5vw;
	}

	.more {
		font: {
			family: $inconsolata;
			size: 10.5pt;
		}
		display: block;
		width: 100%;
		text-align: center;
		position: fixed;
		bottom: 0;
		right: 0;
		$more-h: 66px;
		height: $more-h;
		line-height: $more-h;

		.fa {
			margin-left: 3px;
		}
	}

	.blurred {
		@include filter(blur(8px));
	}

	.info {
		display: block; position: absolute;
		width: 100vw; min-height: 100%;
		padding: 0 25px 50px;
		background: rgba($mobile_bg, 0.7);
		left: 100vw; top: 0;

		@include anim-medium(left);
		
		&.open { left: 0; }

		.p-wrap {
			overflow-y: auto;
		}

		p {
			font: {
				family: $inconsolata;
				size: 12pt;
				weight: 200;
			}
			color: $mobile_fg;
			line-height: 1.25rem;
			a {
				color: $blue;
				font-size: 0.7rem;
				line-height: 1em;
				text-decoration: none;
			}

			margin: 10px 0;
			&:first-of-type {
				margin-top: 20vh;
			}
		}

		ul {
			margin: -10px 0 0; padding: 0;
			li {
				margin: 5px 0;

			}
		}

		.back-btn {
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			$b-sz: 40px;
			width: $b-sz; height: $b-sz;
			line-height: $b-sz;
			text-align: center;
			font-size: 12pt;
			border-radius: 100%;
			i {
				color: $mobile_fg;
			}
		}
	}

	.fix-rotate {
		@include transform(rotate(90deg));
	}
}